:root{
  --primary: #20412E; 
  --secondary: #E5C15E; 
  --dark: #040000; 
  --base: #F8FFF8; 
  --white: #FFFFFF; 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}
a{
  text-decoration: none;
}
.custom-bg-primary{
  background-color: var(--primary);
}
.custom-bg-secondary{
  background-color: var(--secondary);
}
.custom-bg-tertiary{
  background-color: var(--tertiary);
}
.custom-text-color-primary{
  color: var(--primary);
}
.custom-text-color-secondary{
  color: var(--secondary);
}
.custom-text-color-tertiary{
  color: var(--tertiary);
  background-color: var(--base) !important;
}
.custom-bg-primary{
  background-color: var(--primary) !important;
}
.custom-bg-secondary{
  background-color: var(--secondary) !important;
}
.custom-bg-dark{
  background-color: var(--dark) !important;
}
.custom-bg-base{
  background-color: var(--base) !important;
}
.custom-bg-red-accent{
  background-color: #ffcbd1 !important;
}
.custom-text-color-primary{
  color: var(--primary) !important;
}
.custom-text-color-secondary{
  color: var(--secondary) !important;
}
.custom-text-color-dark{
  color: var(--dark) !important;
}
.custom-border-secondary {
  border-color: var(--secondary); /* or use your hex value */
}
.w-md-50{
  width: 50% !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .w-md-50{
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .w-md-50{
    width: 100% !important;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* .w-md-50{
    width: 100% !important;
  } */
}